<ion-header>
  <ion-toolbar>
    <ion-title>À propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <div id = "ima" ></div>
    <ion-card-header>
      <ion-card-title>Tutoriel Ionic</ion-card-title>
      <ion-card-subtitle>Réalisé par Julien Roussé</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Sources disponible ici : <br>
      <a href="https://github.com/BioDiiv/ionicTuto"> https://github.com/BioDiiv/ionicTuto </a>
    </ion-card-content>
  </ion-card>
<hr>
  <ion-card>
    <div id = "imo" ></div>
    <ion-card-header>
      <ion-card-title>D'ailleurs ceci est aussi un composant Ionic</ion-card-title>
      <ion-card-subtitle>C'est une card</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      En voir plus ici : <br>
      <a href="https://ionicframework.com/docs/api/card"> https://ionicframework.com/docs/api/card </a>
    </ion-card-content>
  </ion-card>

</ion-content>
